<license>

<system-includes>

<base-class-includes>

<project-includes>

<namespace>{

<class>{

public:
    <default-constructor>
    <default-destructor>

    <equals-operator>
    <not-equals-operator>

    /**
     * Base Class Overrides
     */
    <base-classes>

    <public-functions>

private:
    <copy-constructor>
    <assignment-operator>

    <private-functions>

    <member-variables>
};

<output-operator>

}