<header-include>

<system-includes>

<namespace>

<default-constructor>
<default-destructor>

<equals-operator>
<not-equals-operator>

<base-classes>

<public-functions>

<private-functions>
